In [1]:
# # **Loading Hive Tables and Data Preparation for Analysis**

import pyspark.sql.functions as F
from pyspark.sql.functions import col, year, to_date, greatest, count, max
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("E2E_Capstone").config(
    "spark.ui.port", "0").config(
        "spark.sql.catalogImplementation=hive").config(
        "spark.sql.warehouse.dir",
        "hdfs://nameservice1/user/itv003722/warehouse/comment_analysis.db/review").config(
            "spark.serializer",
    "org.apache.spark.serializer.KryoSerializer").enableHiveSupport().getOrCreate()
spark.sparkContext.setLogLevel('OFF')

In [3]:
# Creating Local Views and Spark Dataframes to call these objects from memory.

review = spark.table('comment_analysis.review')
review.createOrReplaceTempView('review')

In [4]:
review.show()

+-----+---------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+---------+
|index|  company|               state| year|           job_title|             summary|                pros|                cons|overall_ratings|work_balance_stars|culture_values_stars|carrer_opportunities_stars|comp_benefit_stars|senior_mangemnet_stars|  country|
+-----+---------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+---------+
|65024|microsoft|Caracas; Capital ...| 2015|Current Employee ...|Services Delivery...|The company where...|Difficult to chan...|              4|                 5|                   4|                         4|                 2|                     4|Venezuela|
|34243|   amazon|Caracas; Capital ...| 2016|Current Employee ...|Coordinador de In...|Multi-Plataforma;...|imposible trabajo...|              5|                 5|                   5|                         5|                 5|                     5|Venezuela|
| 7800|   google|Caracas; Capital ...| 2016|Former Employee -...|Licenciado en Com...|Compromiso; dedic...|Tiempo; objetivos...|              5|                 5|                   5|                         5|                 5|                     5|Venezuela|
| 5690|   google|       SanFrancisco | 2017|Current Employee ...|               Candy|Awesome working c...|Their is none as ...|              5|                 5|                   5|                         5|                 5|                     5|Venezuela|
|47214|    apple|               Coro | 2018|Former Employee -...|       Great company|Proactive; dinami...|I can say that wh...|              5|                 5|                   5|                         5|                 5|                     4|Venezuela|
| 5207|   google|     Ciudad Guayana | 2018|Current Employee ...|        Good company|Really wide range...|None worth pointi...|              5|                 5|                   5|                         5|                 5|                     4|Venezuela|
|66736|microsoft|          Maracaibo | 2012|Current Employee ...|       Great Company|Good Salary and A...|A lot of work to ...|              5|                 2|                   5|                         5|                 4|                     4|Venezuela|
|35542| facebook|             Douala | 2018|Current Employee ...|               Great|Popularity contri...|Keep away from pr...|              5|                 3|                   3|                         3|                 3|                     3| Cameroon|
|65557|microsoft|              Lagos | 2015|Current Employee ...|          Internship|Amazing people; o...|Only opportunitie...|              4|                 5|                   5|                         4|                 3|                     5|  Nigeria|
|65233|microsoft|       Abuja; Niger | 2015|Former Employee -...|  Public Sector Lead|Top Brand; Great ...|No work-life bala...|              3|                 3|                   4|                         4|                 4|                     3|  Nigeria|
| 6241|   google|         Paki; Kano | 2016|Current Employee ...|        Good company|Very Good company...|salary compensati...|              4|                 5|                   5|                         5|                 5|                     5|  Nigeria|
| 6497|   google|              Germa | 2016|Former Employee -...| Goog job goid money|I work here becau...|Its too hard to w...|              4|                 5|                   3|                         5|                 4|                     4|  Nigeria|
|63942|microsoft|              Lagos | 2016|Former Employee -...|           Microsoft|Great in lead clo...|Very bad in acqui...|              4|                 4|                   4|                         3|                 4|                     3|  Nigeria|
|48100|    apple|                Aha | 2016|Former Employee -...|AppleCare Remote ...|It was great havi...|I think this is a...|              4|                 5|                   4|                         4|                 3|                     4|  Nigeria|
|35593| facebook|   Katsina; Katsina | 2017|Current Employee ...|Community Develop...|To promote awaren...|communicating wit...|              5|                 4|                   5|                         5|                 4|                     4|  Nigeria|
|47293|    apple|              Lagos | 2017|Current Employee ...|    office assistant|it is a great com...|it would be all h...|              4|                 3|                   4|                         5|                 5|                     4|  Nigeria|
|47496|    apple|              Lagos | 2017|Current Employee ...|   Laundry assistant|It's a place wher...|The company is pe...|              1|                 3|                   4|                         4|                 4|                     3|  Nigeria|
|63644|microsoft|              Lagos | 2017|Current Employee ...|              salary|great people; goo...|internal politics...|              4|                 4|                   4|                         4|                 4|                     3|  Nigeria|
|63413|microsoft|              Lagos | 2017|Former Employee -...| Business Sales Lead|Full Time Employe...|"The Culture with...|              3|                 2|                   1|                         3|                 3|                     2|  Nigeria|
|63128|microsoft|       Abuja; Niger | 2017|Current Employee ...|Solution Architec...|Great culture. Go...|Tough to make a b...|              5|                 3|                   4|                         4|                 4|                     3|  Nigeria|
+-----+---------+--------------------+-----+--------------------+--------------------+--------------------+--------------------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+---------+
only showing top 20 rows

In [5]:
review.printSchema()

root
 |-- index: integer (nullable = true)
 |-- company: string (nullable = true)
 |-- state: string (nullable = true)
 |-- year: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- pros: string (nullable = true)
 |-- cons: string (nullable = true)
 |-- overall_ratings: integer (nullable = true)
 |-- work_balance_stars: integer (nullable = true)
 |-- culture_values_stars: integer (nullable = true)
 |-- carrer_opportunities_stars: integer (nullable = true)
 |-- comp_benefit_stars: integer (nullable = true)
 |-- senior_mangemnet_stars: integer (nullable = true)
 |-- country: string (nullable = true)

In [6]:
review.select('company','overall_ratings').show(10)

+---------+---------------+
|  company|overall_ratings|
+---------+---------------+
|    apple|              5|
|microsoft|              1|
|microsoft|              4|
|microsoft|              4|
|microsoft|              3|
|microsoft|              3|
|    apple|              1|
|microsoft|              2|
|microsoft|              3|
|microsoft|              4|
+---------+---------------+
only showing top 10 rows

In [7]:
from pyspark.sql.functions import countDistinct
df=review.select(countDistinct("company","country"))
df.show()
# print("Distinct Count of company & country: "+ str(df.collect()[0][0]))

+--------------------------------+
|count(DISTINCT company, country)|
+--------------------------------+
|                             296|
+--------------------------------+

In [8]:
#Using the over-all rating fields display trend:
#1. Globally by company: Identify trends at 25%, 50%, 75%
spark.sql("""
            select company,percentile(cast(overall_ratings as bigint), 0.25) as 25_perentage,percentile(cast(overall_ratings as bigint), 0.50) as 50_perentage,percentile(cast(overall_ratings as bigint), 0.75) as 75_perentage   from review
group by company
         """).show()

+--------------------+------------+------------+------------+
|             company|25_perentage|50_perentage|75_perentage|
+--------------------+------------+------------+------------+
|The Cloud team do...|         4.0|         4.0|         4.0|
|           microsoft|         3.0|         4.0|         5.0|
|              amazon|         3.0|         4.0|         5.0|
|             netflix|         2.0|         4.0|         5.0|
|               apple|         3.0|         4.0|         5.0|
|            facebook|         4.0|         5.0|         5.0|
|              google|         4.0|         5.0|         5.0|
+--------------------+------------+------------+------------+

In [9]:
#2. Globally by company per year: Identify trends at 25%, 50%, 75%
d=spark.sql("""
            select company,year,percentile(cast(overall_ratings as bigint), 0.25) as 25_perentage,percentile(cast(overall_ratings as bigint), 0.50) as 50_perentage,percentile(cast(overall_ratings as bigint), 0.75) as 75_perentage   from review
group by company,year order by year asc
         """).show()

+---------+-----+------------+------------+------------+
|  company| year|25_perentage|50_perentage|75_perentage|
+---------+-----+------------+------------+------------+
|  netflix| 0000|         4.0|         4.0|         4.0|
|   amazon| 0000|         4.0|         4.0|         4.0|
|    apple| 0000|         4.0|         4.0|         4.0|
|   google| 2008|         2.0|         4.0|         5.0|
| facebook| 2008|         3.5|         4.0|         5.0|
|   amazon| 2008|         2.0|         3.0|         4.0|
|  netflix| 2008|         4.0|         5.0|         5.0|
|    apple| 2008|         3.0|         4.0|         5.0|
|microsoft| 2008|         3.0|         4.0|         4.0|
|   amazon| 2009|         2.0|         3.5|         4.0|
|  netflix| 2009|         2.0|         3.0|         4.0|
|    apple| 2009|         3.0|         4.0|         5.0|
|   google| 2009|         3.0|         4.0|        4.75|
| facebook| 2009|         5.0|         5.0|         5.0|
|microsoft| 2009|         3.0|         3.0|         4.0|
| facebook| 2010|         5.0|         5.0|         5.0|
|   amazon| 2010|         2.0|         3.0|         4.0|
|microsoft| 2010|         3.0|         3.0|         4.0|
|   google| 2010|         3.0|         4.0|         5.0|
|    apple| 2010|         3.0|         4.0|         4.0|
+---------+-----+------------+------------+------------+
only showing top 20 rows

In [10]:
spark.sql("""
            select distinct(year) from review order by year

         """).show()

+-----+
| year|
+-----+
| 0000|
| 2008|
| 2009|
| 2010|
| 2011|
| 2012|
| 2013|
| 2014|
| 2015|
| 2016|
| 2017|
| 2018|
|    1|
| None|
+-----+

In [22]:
#3. By company by country (Identify trends for each company by country: Identify trends at 25%, 50%, 75%
spark.sql("""
            select company,country,percentile(cast(overall_ratings as bigint), 0.25) as 25_perentage,percentile(cast(overall_ratings as bigint), 0.50) as 50_perentage,percentile(cast(overall_ratings as bigint), 0.75) as 75_perentage   from review
group by company,country 
         """).show()

+---------+--------------------+------------+------------+------------+
|  company|             country|25_perentage|50_perentage|75_perentage|
+---------+--------------------+------------+------------+------------+
|   amazon|             Ireland|         2.5|         4.0|         5.0|
|    apple|           Australia|         3.0|         4.0|         5.0|
|   amazon|              Brazil|         5.0|         5.0|         5.0|
|   amazon|            Colombia|         3.0|         3.0|         3.0|
|    apple|            Pakistan|        4.25|         4.5|        4.75|
|    apple|       Cote d'Ivoire|         5.0|         5.0|         5.0|
| facebook|             Denmark|         4.0|         4.0|         4.0|
|microsoft|             Lebanon|         5.0|         5.0|         5.0|
|   amazon|                  UK|         2.0|         4.0|         5.0|
|   google|               Chile|         2.0|         2.0|         2.0|
|microsoft|__HIVE_DEFAULT_PA...|         3.0|         4.0|         5.0|
|microsoft|              Sweden|         4.0|         4.0|         5.0|
|microsoft|              Greece|         1.5|         3.0|         3.0|
|   amazon|             Finland|         2.0|         2.0|         2.0|
|microsoft|                  UK|         3.0|         4.0|         5.0|
| facebook|            Dominica|         5.0|         5.0|         5.0|
|   amazon|               Italy|         4.0|         4.0|         5.0|
|microsoft|           Hong Kong|         2.5|         4.0|         4.0|
|   amazon|              Turkey|        1.25|         1.5|        1.75|
|   google|            Bulgaria|         5.0|         5.0|         5.0|
+---------+--------------------+------------+------------+------------+
only showing top 20 rows

In [ ]:
##Display the impact of employee status on rating a company using the overall-ratings field by the company by year.

spark.sql("""
select year,company,overall_ratings,sum(or_count) as total from (
           select year,company,job_title,overall_ratings ,count(overall_ratings) as or_count from review
        group by company,year ,job_title having count(overall_ratings)>1 order by year, overall_ratings desc
        )group by year,company
         """).show()

In [ ]:
review.groupBy('year','job_title','overall_ratings').agg(
    count('overall_ratings').alias('rating_count')).orderBy(
        col('rating_count').desc()).show()

In [25]:
#Display the relationship between the overall rating score vs. the rest of the rating field scores by company.

spark.sql("""select company,overall_ratings,work_balance_stars,culture_values_stars,carrer_opportunities_stars,comp_benefit_stars,senior_mangemnet_stars from review
  """).show()

+---------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+
|  company|overall_ratings|work_balance_stars|culture_values_stars|carrer_opportunities_stars|comp_benefit_stars|senior_mangemnet_stars|
+---------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+
|microsoft|              4|                 2|                   4|                         4|                 4|                     3|
|microsoft|              4|                 2|                   4|                         4|                 4|                     3|
|microsoft|              5|                 4|                   5|                         5|                 4|                     4|
|    apple|              3|                 5|                   3|                         4|                 5|                     3|
|microsoft|              4|                 3|                   4|                         3|                 3|                     2|
|microsoft|              5|                 3|                   4|                         4|                 4|                     3|
|microsoft|              3|                 3|                   3|                         2|                 2|                     3|
|microsoft|              3|                 3|                   3|                         2|                 2|                     3|
|microsoft|              5|                 5|                   5|                         5|                 5|                     5|
|   amazon|              5|                 5|                   5|                         5|                 5|                     5|
|    apple|              4|                 3|                   4|                         4|                 4|                     3|
|    apple|              4|                 4|                   5|                         3|                 4|                     4|
|microsoft|              3|                 2|                   4|                         3|                 4|                     2|
|microsoft|              5|                 5|                   5|                         5|                 5|                     5|
|microsoft|              5|                 2|                   3|                         3|                 3|                     3|
|   amazon|              5|                 4|                   5|                         5|                 4|                     5|
|microsoft|              5|                 3|                   4|                         4|                 4|                     3|
|microsoft|              4|                 3|                   4|                         4|                 4|                     3|
|microsoft|              4|                 3|                   5|                         4|                 4|                     4|
|microsoft|              4|                 1|                   2|                         2|                 3|                     3|
+---------+---------------+------------------+--------------------+--------------------------+------------------+----------------------+
only showing top 20 rows

In [ ]:
#Which corporation is worth working for

In [32]:

from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec  = Window.partitionBy("year").orderBy("overall_ratings")

df=review.withColumn("row_number",row_number().over(windowSpec)) \
    .show(truncate=False)

+-----+-------+----------------+-----+--------------------------------------------+--------------------------------------------------------------------------------------------------+----+----+---------------+------------------+--------------------+--------------------------+------------------+----------------------+--------------------------+----------+
|index|company|state           |year |job_title                                   |summary                                                                                           |pros|cons|overall_ratings|work_balance_stars|culture_values_stars|carrer_opportunities_stars|comp_benefit_stars|senior_mangemnet_stars|country                   |row_number|
+-----+-------+----------------+-----+--------------------------------------------+--------------------------------------------------------------------------------------------------+----+----+---------------+------------------+--------------------+--------------------------+------------------+----------------------+--------------------------+----------+
|49322|apple  |London; England | 2010|Former Employee - Manager                   |A Golden Birdcage                                                                                 |null|null|1              |2                 |4                   |1                         |1                 |1                     |UK                        |1         |
|49309|apple  |Cork            | 2010|Former Employee - Sales Mac Expert          |simply a huge call-center with absolutely no respect for employee.                                |null|null|1              |1                 |4                   |1                         |3                 |1                     |Ireland                   |2         |
|49392|apple  |Cork            | 2010|Current Employee - Technical Support Adviser|Sheer terror; only looks good from outside.                                                       |null|null|1              |2                 |4                   |1                         |1                 |3                     |Ireland                   |3         |
|33952|amazon |Hyderabad       | 2010|Current Employee - Software Engineer II     |Cant sleep at night                                                                               |null|null|1              |1                 |4                   |3                         |2                 |2                     |India                     |4         |
|7637 |google |                | 2010|Current Employee - Datacenter Technician    |Looks good on your CV and that's about it                                                         |null|null|1              |3                 |4                   |1                         |3                 |1                     |__HIVE_DEFAULT_PARTITION__|5         |
|7659 |google |                | 2010|Current Employee - Senior Web Developer     |Working for about 5 years at Google                                                               |null|null|1              |1                 |4                   |1                         |1                 |1                     |__HIVE_DEFAULT_PARTITION__|6         |
|24893|amazon |                | 2010|Former Employee - Product Manager           |Unfortunately the company does not invest in their employees and leadership is not positive.      |null|null|1              |1                 |4                   |1                         |1                 |1                     |__HIVE_DEFAULT_PARTITION__|7         |
|24897|amazon |                | 2010|Former Employee - Cs MANAGER                |High potential to be a great place to work; but...                                                |null|null|1              |1                 |4                   |3                         |3                 |4                     |__HIVE_DEFAULT_PARTITION__|8         |
|24909|amazon |                | 2010|Former Employee - Receiving                 |I would strongly advice against this place                                                        |null|null|1              |1                 |4                   |1                         |1                 |1                     |__HIVE_DEFAULT_PARTITION__|9         |
|24916|amazon |                | 2010|Former Employee - Senior Technical          |Video On Demand; a horrible experience                                                            |null|null|1              |1                 |4                   |3                         |1                 |1                     |__HIVE_DEFAULT_PARTITION__|10        |
|24918|amazon |                | 2010|Current Employee - Merchandising Specialist |Worst Place to Work Ever!!!                                                                       |null|null|1              |1                 |4                   |1                         |1                 |1                     |__HIVE_DEFAULT_PARTITION__|11        |
|24919|amazon |                | 2010|Former Employee - Area Manager              |Not So Glamorous                                                                                  |null|null|1              |1                 |4                   |4                         |4                 |1                     |__HIVE_DEFAULT_PARTITION__|12        |
|24926|amazon |                | 2010|Current Employee - Warehouse Associate      |no respect                                                                                        |null|null|1              |1                 |4                   |1                         |2                 |1                     |__HIVE_DEFAULT_PARTITION__|13        |
|24928|amazon |                | 2010|Current Employee - Software Engineer        |Jeff Bezos is a genius and a visionary                                                            |null|null|1              |2                 |4                   |2                         |3                 |4                     |__HIVE_DEFAULT_PARTITION__|14        |
|24935|amazon |                | 2010|Former Employee - Manager                   |If you decide to work here; ask in the interview what Top Grading is; and what its counterpart is.|null|null|1              |1                 |4                   |1                         |4                 |1                     |__HIVE_DEFAULT_PARTITION__|15        |
|24941|amazon |                | 2010|Current Employee - Editor                   |Stay away from this place--toxic as hell                                                          |null|null|1              |1                 |4                   |2                         |2                 |1                     |__HIVE_DEFAULT_PARTITION__|16        |
|24942|amazon |                | 2010|Current Employee - Technical Program Manager|Churn and burn                                                                                    |null|null|1              |1                 |4                   |2                         |2                 |1                     |__HIVE_DEFAULT_PARTITION__|17        |
|24946|amazon |                | 2010|Former Employee - Marketing Manager         |No work / life balance                                                                            |null|null|1              |2                 |4                   |1                         |2                 |1                     |__HIVE_DEFAULT_PARTITION__|18        |
|24953|amazon |                | 2010|Current Employee - Anonymous Employee       |Looking somewhere else                                                                            |null|null|1              |1                 |4                   |1                         |3                 |1                     |__HIVE_DEFAULT_PARTITION__|19        |
|24959|amazon |                | 2010|Former Employee - Buyer                     |horrible experience (stay away from retail!)                                                      |null|null|1              |1                 |4                   |1                         |2                 |1                     |__HIVE_DEFAULT_PARTITION__|20        |
+-----+-------+----------------+-----+--------------------------------------------+--------------------------------------------------------------------------------------------------+----+----+---------------+------------------+--------------------+--------------------------+------------------+----------------------+--------------------------+----------+
only showing top 20 rows

In [ ]:
df.select("year","company","overall_ratings").show()

In [26]:
#Classification of satisfied or unsatisfied employees?
from pyspark.sql.functions import when
df2 = review.withColumn("overall_ratings", when(review.overall_ratings > "3","Satisfied")
                                 .when(review.overall_ratings < "3","Unstatisfied")
                                 .when(review.overall_ratings.isNull() ,"")
                                 .otherwise(review.overall_ratings))
df2.show()

+-----+---------+---------------+-----+--------------------+--------------------+----+----+---------------+------------------+--------------------+--------------------------+------------------+----------------------+-------+
|index|  company|          state| year|           job_title|             summary|pros|cons|overall_ratings|work_balance_stars|culture_values_stars|carrer_opportunities_stars|comp_benefit_stars|senior_mangemnet_stars|country|
+-----+---------+---------------+-----+--------------------+--------------------+----+----+---------------+------------------+--------------------+--------------------------+------------------+----------------------+-------+
|66331|microsoft|        Vedbæk | 2013|Former Employee -...|Great opportuniti...|null|null|              3|                 4|                   2|                         5|                 4|                     3|Denmark|
|66296|microsoft| Over Feldborg | 2013|Former Employee -...|awesome amazing w...|null|null|      Satisfied|                 5|                   5|                         5|                 5|                     5|Denmark|
|66253|microsoft|    Copenhagen | 2013|Current Employee ...|    Specialist sales|null|null|      Satisfied|                 5|                   3|                         4|                 4|                     3|Denmark|
|66098|microsoft|    Copenhagen | 2013|Former Employee -...|       Goood company|null|null|      Satisfied|                 3|                   4|                         3|                 4|                     3|Denmark|
|65889|microsoft|    Copenhagen | 2014|Current Employee ...|In simple words i...|null|null|      Satisfied|                 4|                   4|                         4|                 4|                     5|Denmark|
|65619|microsoft|    Copenhagen | 2014|Current Employee ...|Senior Developer ...|null|null|      Satisfied|                 4|                   4|                         3|                 4|                     2|Denmark|
|65628|microsoft|    Copenhagen | 2014|Former Employee -...|Overall; outstand...|null|null|      Satisfied|                 4|                   4|                         5|                 4|                     4|Denmark|
|65493|microsoft|    Copenhagen | 2015|Current Employee ...|Easy to grow; dif...|null|null|              3|                 4|                   3|                         2|                 3|                     3|Denmark|
|65199|microsoft|      Hellerup | 2015|Former Employee -...|Best place I have...|null|null|      Satisfied|                 3|                   5|                         5|                 5|                     4|Denmark|
|64763|microsoft|  Oddesund Syd | 2015|Former Employee -...|        wonder place|null|null|      Satisfied|                 4|                   4|                         2|                 1|                     4|Denmark|
|64916|microsoft|    Copenhagen | 2015|Current Employee ...|    Microsoft review|null|null|      Satisfied|                 3|                   4|                         4|                 3|                     3|Denmark|
|64198|microsoft|    Copenhagen | 2016|Current Employee ...|     Greaty company!|null|null|      Satisfied|                 4|                   5|                         5|                 5|                     5|Denmark|
|35714| facebook|    Copenhagen | 2016|Former Employee -...|Great place to wo...|null|null|      Satisfied|                 4|                   2|                         4|                 5|                     2|Denmark|
|62827|microsoft|Kongens Lyngby | 2017|Current Employee ...|I love working at...|null|null|      Satisfied|                 4|                   5|                         4|                 5|                     3|Denmark|
|47820|    apple|    Copenhagen | 2017|Former Employee -...|        Good company|null|null|      Satisfied|                 4|                   5|                         5|                 4|                     5|Denmark|
|63068|microsoft|    Copenhagen | 2017|Former Employee -...|Great; challengin...|null|null|      Satisfied|                 4|                   5|                         5|                 5|                     4|Denmark|
|62884|microsoft|Kongens Lyngby | 2017|Current Employee ...|    Superb Employer.|null|null|      Satisfied|                 4|                   5|                         4|                 5|                     4|Denmark|
|62669|microsoft|    Copenhagen | 2018|Former Employee -...|Typical American ...|null|null|              3|                 3|                   3|                         3|                 5|                     2|Denmark|
|62447|microsoft|    Copenhagen | 2018|Former Employee -...|The most lousy pl...|null|null|   Unstatisfied|                 1|                   1|                         1|                 1|                     1|Denmark|
|62323|microsoft|    Copenhagen | 2018|Former Employee -...|Bug fixing job; s...|null|null|   Unstatisfied|                 3|                   1|                         2|                 2|                     2|Denmark|
+-----+---------+---------------+-----+--------------------+--------------------+----+----+---------------+------------------+--------------------+--------------------------+------------------+----------------------+-------+
only showing top 20 rows

In [36]:
df2.select('company').show(10)

+---------+
|  company|
+---------+
|microsoft|
|microsoft|
|microsoft|
|microsoft|
|    apple|
|   google|
|microsoft|
|microsoft|
|    apple|
|   amazon|
+---------+
only showing top 10 rows

In [8]:
spark.sql("""
       select company , sum(satisfied) as satisfied,sum(unsatisfied) as unstatisfied from 
       ( select company, (case when overall_ratings>=3 then 1 else 0 end) as satisfied,
       (case when overall_ratings<3  then 1 else 0 end)  as unsatisfied from review
 )a group by a.company
""").show()

+--------------------+---------+------------+
|             company|satisfied|unstatisfied|
+--------------------+---------+------------+
|The Cloud team do...|        1|           0|
|           microsoft|    15983|        1947|
|              amazon|    21218|        5212|
|             netflix|      578|         232|
|               apple|    11652|        1298|
|            facebook|     1494|          96|
|              google|     1899|         100|
+--------------------+---------+------------+

In [9]:
spark.sql("""
   select distinct company, count(overall_ratings) from review where overall_ratings=5 group by company 
""").show(6)

+---------+----------------------+
|  company|count(overall_ratings)|
+---------+----------------------+
|microsoft|                  5063|
|   amazon|                  7553|
|  netflix|                   240|
|    apple|                  4805|
| facebook|                  1151|
|   google|                  1050|
+---------+----------------------+

In [6]:
spark.sql("""
  
   select distinct company from review  
""").show()

+--------------------+
|             company|
+--------------------+
|The Cloud team do...|
|           microsoft|
|              amazon|
|             netflix|
|               apple|
|            facebook|
|              google|
+--------------------+

In [9]:
spark.sql("""
   select company,summary from review where  overall_ratings=5
""").show(10)

+---------+--------------------+
|  company|             summary|
+---------+--------------------+
|microsoft|Busy with increas...|
| facebook|A workplace with ...|
|microsoft|One of the best c...|
|    apple|high salary and g...|
|    apple|        Art director|
|    apple|       customer care|
|    apple|              genius|
|microsoft|         Vendor role|
|microsoft|              Intern|
|    apple|   Marketing Manager|
+---------+--------------------+
only showing top 10 rows

In [12]:
df2=spark.sql("""
   select summary from review where  overall_ratings<3
""").show()

+--------------------+
|             summary|
+--------------------+
|       Not Favorable|
|                 TSS|
|senior purchase e...|
|Microsoft Advance...|
|          Consultant|
|Think before you ...|
| Horrible Management|
|     Microsoft Japan|
|              Amazon|
|   Marketing Manager|
|            Ad Rater|
|          Sr Manager|
|Data Center Techn...|
|Interesting but b...|
|Microsoft changed...|
| Soltuion Specialist|
|Really depends on...|
|        Good company|
|Don't work for th...|
|Microsoft Middle ...|
+--------------------+
only showing top 20 rows